@keyframes myanimation {
  0%{
    transform: translateX(-3vw);
  }
  25%{
    background: blue;
  }
  50%{
    transform: translateX(93vw);
  }
  75%{
    background: green;
  }
  100%{
    transform: translateX(-3vw);

  }

}

main{
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
  align-items: center;
}

div{
  width: 7vw;
  height: 15vh;
  background: red;
  animation-name: myanimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  }
